header#header
  nav.left
  a.logo(href='/') Sistema de Matrícula
  nav.right
    a.button.alt(href='/login') Iniciar Sesión
    //- button.m-r-10(href='/admin') #{usuario}
    a.button.alt(href='/login') Cerrar Sesión
    h2