extends ../layout/index
block contenido
    main.container.mt-5 
        .row
            .col-md-12
                h1.text-center #{pagina}
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit debitis blanditiis dicta fuga, cupiditate, nisi soluta laudantium dolor nihil, temporibus mollitia tempora ex quo officiis hic natus esse. Accusamus, dolore!
                p Aliquam vulputate felis nisi, et auctor purus pharetra ut. Etiam ut laoreet felis, ac convallis ante. Integer semper consectetur rhoncus. Morbi ut mauris viverra metus pharetra convallis. Mauris efficitur laoreet diam sit amet pharetra. Integer mollis ultricies purus, sit amet bibendum ligula eleifend non. Phasellus vestibulum nunc eu massa bibendum facilisis. Phasellus non commodo justo. In efficitur aliquet diam at placerat. Aenean non ex ut metus cursus mattis. Pellentesque ultrices pretium nulla mattis tempor. Suspendisse cursus feugiat condimentum. Quisque efficitur maximus maximus. In dictum mauris sollicitudin, commodo turpis ut, pulvinar ex.

                p Praesent imperdiet nunc quis ligula venenatis, non ultrices nulla dictum. Ut tristique porttitor libero, non posuere purus sollicitudin at. Morbi orci magna, dictum a tempus eget, tempor id erat. Aliquam lacinia condimentum dolor, hendrerit porta urna gravida eget. Curabitur in semper felis. Pellentesque mi nisl, rhoncus vel euismod quis, laoreet non nibh. Duis nisl enim, dignissim et eleifend ut, viverra a ex. Cras in eleifend risus. Pellentesque varius leo eget posuere convallis. Fusce ultrices eleifend ex, a hendrerit dolor lacinia consequat. Mauris nisi lacus, sollicitudin quis neque quis, imperdiet laoreet nisl. Etiam non quam non nunc scelerisque sagittis et non justo. Pellentesque dapibus, ipsum vel pellentesque malesuada, libero massa malesuada urna, ut suscipit justo velit eu massa.
                    